.results {
  width: 100vw;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #edae9f;

  button {
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px gray solid;
    color: darkgreen;
  }
}
