.default {
    font-size: 1.5rem;
    width: 50%;
    min-height: 6rem;
    border-radius: 10px;
    border: 1px gray solid;
    color: darkgreen;
}

.correct {
    border-radius: 10px;
    border: 1px gray solid;
    color: darkgreen;
    width: 50%;
    min-height: 6rem;
    font-size: 1.5rem;
}

.wrong {
    display: none;
}